/* some theming variables */
/* useful mixins */
/*
 * JCSDL EDITOR
 */
.jcsdl-container {
  overflow: hidden;
  position: relative;
  font-size: 13px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #888888;
  /* building blocks */
  /*
   * MAIN VIEW
   */
  /* main view actions (add new filter, add existing stream) */
  /* main view mode (expanded / collapsed) */
  /* filters logic (AND/OR) */
  /* filters list */
  /* expanded / collapsed filters list */
  /*
   * FILTER EDITOR VIEW
   */
  /* JCSDL Carousel */
  /*
   * FILTER EDITOR INPUT FIELDS
   */
  /*
   * ICONS
   */ }
  .jcsdl-container a {
    color: #376491; }
    .jcsdl-container a:hover {
      color: #3e71a3; }
  .jcsdl-container .jcsdl-label {
    font-size: 1em;
    color: #888888;
    font-weight: normal; }
  .jcsdl-container .jcsdl-bordered {
    padding: 8px;
    border: 1px solid #c8d7de;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  .jcsdl-container .jcsdl-icon {
    float: left;
    margin: 0;
    margin-right: 20px;
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    text-align: center;
    color: black; }
    .jcsdl-container .jcsdl-icon.target {
      width: 110px;
      height: 110px;
      line-height: 110px;
      margin-right: 35px; }
    .jcsdl-container .jcsdl-icon:hover {
      background: #f5f5f5; }
    .jcsdl-container .jcsdl-icon.selected {
      background: #f5f5f5;
      color: #376491; }
  .jcsdl-container .jcsdl-button {
    float: left;
    margin-right: 8px;
    overflow: hidden;
    text-indent: -9999px;
    display: block;
    height: 34px;
    width: 140px;
    background: url("img/elements.png") no-repeat 0 -55px; }
    .jcsdl-container .jcsdl-button.jcsdl-editor-cancel, .jcsdl-container .jcsdl-button.jcsdl-filter-cancel {
      width: 56px;
      background-position: 0 -89px; }
    .jcsdl-container .jcsdl-button:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
      filter: alpha(opacity=9);
      -moz-opacity: 0.9;
      -khtml-opacity: 0.9;
      opacity: 0.9; }
  .jcsdl-container .jcsdl-header {
    overflow: hidden;
    padding: 15px;
    border-bottom: 1px dotted #dcdcdc; }
    .jcsdl-container .jcsdl-header h3 {
      float: left;
      margin: 0;
      line-height: 1em;
      font-size: 1.8em;
      color: #376491;
      font-weight: normal; }
  .jcsdl-container .jcsdl-footer {
    overflow: hidden;
    padding: 15px;
    border-top: 1px dotted #dcdcdc; }
    .jcsdl-container .jcsdl-footer .jcsdl-actions {
      float: left;
      overflow: hidden;
      margin-bottom: 5px; }
  .jcsdl-container .jcsdl-mainview .jcsdl-header, .jcsdl-container .jcsdl-mainview .jcsdl-header h3 {
    line-height: 38px; }
  .jcsdl-container .jcsdl-mainview-actions {
    overflow: hidden;
    float: right;
    margin-top: 2px; }
  .jcsdl-container .jcsdl-mainview-action {
    float: left;
    margin-right: 8px;
    display: block;
    overflow: hidden;
    line-height: 14px;
    color: #376491; }
    .jcsdl-container .jcsdl-mainview-action .jcsdl-picto {
      float: left;
      margin-right: 8px;
      display: block;
      width: 14px;
      height: 14px;
      background: url("img/elements.png") no-repeat -140px -68px; }
    .jcsdl-container .jcsdl-mainview-action.jcsdl-add-filter {
      margin-right: 0; }
  .jcsdl-container .jcsdl-mainview-mode {
    overflow: hidden;
    float: right;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px dotted #dcdcdc; }
  .jcsdl-container .jcsdl-mainview-mode-options {
    overflow: hidden;
    float: right;
    margin-left: 8px;
    margin-top: 2px;
    height: 14px; }
  .jcsdl-container .jcsdl-mainview-mode-option {
    float: left;
    margin-right: 8px;
    display: block;
    width: 13px;
    height: 13px;
    background: url("img/elements.png") no-repeat -140px -55px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
    filter: alpha(opacity=3);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3; }
    .jcsdl-container .jcsdl-mainview-mode-option.jcsdl-expanded {
      background-position: -140px -55px; }
    .jcsdl-container .jcsdl-mainview-mode-option.jcsdl-collapsed {
      background-position: -156px -55px;
      margin-right: 0; }
    .jcsdl-container .jcsdl-mainview-mode-option:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
      filter: alpha(opacity=5);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5; }
    .jcsdl-container .jcsdl-mainview-mode-option.active {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
      filter: alpha(opacity=10);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1; }
  .jcsdl-container .jcsdl-filters-logic {
    margin: 15px;
    text-align: left; }
  .jcsdl-container .jcsdl-filters-logic-option {
    margin-right: 8px;
    cursor: pointer; }
    .jcsdl-container .jcsdl-filters-logic-option input {
      margin-right: 5px; }
    .jcsdl-container .jcsdl-filters-logic-option.jcsdl-or {
      margin-right: 0; }
  .jcsdl-container .jcsdl-filter {
    overflow: hidden;
    position: relative;
    margin: 15px;
    padding: 5px;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
    .jcsdl-container .jcsdl-filter .jcsdl-filter-options {
      position: absolute;
      top: 0;
      right: 0;
      padding: 6px;
      background: #f7f7f7;
      border: 1px solid #dcdcdc;
      border-top: 0;
      border-right: 0;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 3px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
      .jcsdl-container .jcsdl-filter .jcsdl-filter-options a, .jcsdl-container .jcsdl-filter .jcsdl-filter-options span {
        margin: 0 2px; }
  .jcsdl-container .jcsdl-filter-description {
    overflow: hidden; }
  .jcsdl-container .jcsdl-filter-info {
    float: left;
    margin: 0 10px; }
    .jcsdl-container .jcsdl-filter-info.target {
      font-weight: bold; }
    .jcsdl-container .jcsdl-filter-info.operator {
      font-weight: bold; }
  .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-target {
    margin: 0; }
  .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-field {
    margin: 15px 10px; }
  .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-operator {
    line-height: 110px; }
    .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-operator.operator-contains {
      display: none; }
    .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-operator.operator-substr {
      display: none; }
    .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-operator.operator-contains_any {
      display: none; }
    .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-operator.operator-in {
      display: none; }
  .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-info.value {
    margin: 36px 0;
    font-size: 1.2em; }
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-info.value {
    border: 0;
    padding: 0; }
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-target,
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-field,
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator,
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-value {
    float: none;
    margin: 0;
    display: inline;
    width: auto;
    height: auto;
    background: none;
    line-height: 1em; }
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator {
    font-weight: bold; }
    .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator.operator-contains {
      display: none; }
    .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator.operator-substr {
      display: none; }
    .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator.operator-contains_any {
      display: none; }
    .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator.operator-in {
      display: none; }
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-description {
    float: left; }
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-options {
    position: relative;
    float: right;
    padding: 0;
    background: transparent;
    border: 0; }
  .jcsdl-container .jcsdl-filter-editor {
    /* add the select indicator when selected a field */
    /* filter editor footer */ }
    .jcsdl-container .jcsdl-filter-editor .jcsdl-step {
      overflow: hidden;
      text-align: center;
      background: transparent url("img/step_background.png") no-repeat bottom center; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-step.jcsdl-filter-step-field.last .jcsdl-filter-target-field-wrap {
        margin-bottom: 10px;
        background-position: center -255px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-step.jcsdl-filter-step-value {
        padding-bottom: 30px;
        background: transparent; }
    .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-target-wrap {
      height: 140px;
      padding-top: 30px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-target-wrap .jcsdl-carousel-scroll {
        margin-top: 40px; }
    .jcsdl-container .jcsdl-filter-editor.has-fields .jcsdl-filter-target-wrap {
      background: transparent url("img/select.png") no-repeat center 8px; }
    .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-target-field-wrap {
      padding-top: 5px;
      padding-bottom: 40px;
      background: transparent url("img/select.png") no-repeat center -165px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-target-field-wrap .jcsdl-carousel-scroll {
        margin-top: 25px; }
    .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-value-input-operators {
      overflow: hidden;
      margin: 10px auto;
      margin-top: 20px;
      display: block;
      width: 75%;
      text-align: center; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-value-input-operators .jcsdl-operator-select {
        float: left;
        margin: 5px 0.4em;
        display: block;
        width: 29%;
        min-height: 7em; }
        .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-value-input-operators .jcsdl-operator-select label {
          cursor: pointer; }
        .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-value-input-operators .jcsdl-operator-select input {
          margin-right: 8px; }
    .jcsdl-container .jcsdl-filter-editor .jcsdl-footer {
      text-align: center; }
  .jcsdl-container .jcsdl-filter-save {
    float: none;
    margin: 10px auto;
    width: 181px;
    height: 55px;
    background-position: 0 0; }
  .jcsdl-container .jcsdl-filter-cancel {
    color: #888888;
    font-weight: normal; }
  .jcsdl-container .jcsdl-carousel-wrap {
    overflow: hidden;
    position: relative;
    margin: 0 auto; }
  .jcsdl-container .jcsdl-carousel-scroll {
    float: left;
    margin: 0 5px;
    display: block;
    width: 29px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    background: transparent url("img/elements.png") no-repeat -56px -89px; }
    .jcsdl-container .jcsdl-carousel-scroll.right {
      float: right;
      background-position: -85px -89px; }
    .jcsdl-container .jcsdl-carousel-scroll:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
      filter: alpha(opacity=8);
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8; }
    .jcsdl-container .jcsdl-carousel-scroll.inactive {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
      filter: alpha(opacity=5);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5; }
  .jcsdl-container .jcsdl-filter-value-input-field .jcsdl-input-text input, .jcsdl-container .jcsdl-filter-value-input-field .jcsdl-input-number input {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    width: 90%;
    font-size: 1.3em;
    line-height: 1.5em;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  .jcsdl-container .jcsdl-filter-value-input-field .jcsdl-input-number input {
    width: 100px; }
  .jcsdl-container .jcsdl-filter-value-input-field .jcsdl-input-select {
    overflow: hidden; }
    .jcsdl-container .jcsdl-filter-value-input-field .jcsdl-input-select .jcsdl-input-select-option {
      float: left;
      margin: 0 5px; }
  .jcsdl-container .jcsdl-icon.target {
    background: url("img/icons-sprite-targets.png") no-repeat 0 0; }
    .jcsdl-container .jcsdl-icon.target.target-interaction {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.target.target-interaction.selected {
        background-position: 0 -110px; }
    .jcsdl-container .jcsdl-icon.target.target-facebook {
      background-position: -110px 0; }
      .jcsdl-container .jcsdl-icon.target.target-facebook.selected {
        background-position: -110px -110px; }
    .jcsdl-container .jcsdl-icon.target.target-twitter {
      background-position: -220px 0; }
      .jcsdl-container .jcsdl-icon.target.target-twitter.selected {
        background-position: -220px -110px; }
    .jcsdl-container .jcsdl-icon.target.target-digg {
      background-position: -330px 0; }
      .jcsdl-container .jcsdl-icon.target.target-digg.selected {
        background-position: -330px -110px; }
    .jcsdl-container .jcsdl-icon.target.target-myspace {
      background-position: -440px 0; }
      .jcsdl-container .jcsdl-icon.target.target-myspace.selected {
        background-position: -440px -110px; }
    .jcsdl-container .jcsdl-icon.target.target-klout {
      background-position: -550px 0; }
      .jcsdl-container .jcsdl-icon.target.target-klout.selected {
        background-position: -550px -110px; }
  .jcsdl-container .jcsdl-icon.field {
    background: url("img/icons-sprite-fields.png?1") no-repeat 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-geo {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-geo.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-link {
      background-position: -160px 0; }
      .jcsdl-container .jcsdl-icon.field.field-link.selected {
        background-position: -240px 0; }
    .jcsdl-container .jcsdl-icon.field.field-sample {
      background-position: -320px 0; }
      .jcsdl-container .jcsdl-icon.field.field-sample.selected {
        background-position: -400px 0; }
    .jcsdl-container .jcsdl-icon.field.field-title {
      background-position: -480px 0; }
      .jcsdl-container .jcsdl-icon.field.field-title.selected {
        background-position: -560px 0; }
    .jcsdl-container .jcsdl-icon.field.field-content {
      background-position: -640px 0; }
      .jcsdl-container .jcsdl-icon.field.field-content.selected {
        background-position: -720px 0; }
    .jcsdl-container .jcsdl-icon.field.field-source {
      background-position: -160px -80px; }
      .jcsdl-container .jcsdl-icon.field.field-source.selected {
        background-position: -240px -80px; }
    .jcsdl-container .jcsdl-icon.field.field-type {
      background-position: -320px -80px; }
      .jcsdl-container .jcsdl-icon.field.field-type.selected {
        background-position: -400px -80; }
    .jcsdl-container .jcsdl-icon.field.field-avatar {
      background-position: -480px -80px; }
      .jcsdl-container .jcsdl-icon.field.field-avatar.selected {
        background-position: -560px 0; }
    .jcsdl-container .jcsdl-icon.field.field-author-username {
      background-position: -160px -160px; }
      .jcsdl-container .jcsdl-icon.field.field-author-username.selected {
        background-position: -240px -160px; }
    .jcsdl-container .jcsdl-icon.field.field-username {
      background-position: -160px -160px; }
      .jcsdl-container .jcsdl-icon.field.field-username.selected {
        background-position: -240px -160px; }
    .jcsdl-container .jcsdl-icon.field.field-topic {
      background-position: -320px -320px; }
      .jcsdl-container .jcsdl-icon.field.field-topic.selected {
        background-position: -400px -320px; }
    .jcsdl-container .jcsdl-icon.field.field-language {
      background-position: -480px -320px; }
      .jcsdl-container .jcsdl-icon.field.field-language.selected {
        background-position: -560px -320px; }
    .jcsdl-container .jcsdl-icon.field.field-amplification {
      background-position: -480px -400px; }
      .jcsdl-container .jcsdl-icon.field.field-amplification.selected {
        background-position: -560px -400px; }
    .jcsdl-container .jcsdl-icon.field.field-network {
      background-position: 0px -480px; }
      .jcsdl-container .jcsdl-icon.field.field-network.selected {
        background-position: -80px -480px; }
    .jcsdl-container .jcsdl-icon.field.field-score {
      background-position: -160px -480px; }
      .jcsdl-container .jcsdl-icon.field.field-score.selected {
        background-position: -240px -480px; }
    .jcsdl-container .jcsdl-icon.field.field-truereach {
      background-position: -320px -480px; }
      .jcsdl-container .jcsdl-icon.field.field-truereach.selected {
        background-position: -400px -480px; }
    .jcsdl-container .jcsdl-icon.field.field-trends {
      background-position: -480px -480px; }
      .jcsdl-container .jcsdl-icon.field.field-trends.selected {
        background-position: -560px -480px; }
    .jcsdl-container .jcsdl-icon.field.field-age {
      background-position: -640px -560px; }
      .jcsdl-container .jcsdl-icon.field.field-age.selected {
        background-position: -720px -560px; }
    .jcsdl-container .jcsdl-icon.field.field-url {
      background-position: -160px -640px; }
      .jcsdl-container .jcsdl-icon.field.field-url.selected {
        background-position: -240px -640px; }
    .jcsdl-container .jcsdl-icon.field.field-retweet-count {
      background-position: -320px -640px; }
      .jcsdl-container .jcsdl-icon.field.field-retweet-count.selected {
        background-position: -400px -640px; }
    .jcsdl-container .jcsdl-icon.field.field-gender {
      background-position: -480px -640px; }
      .jcsdl-container .jcsdl-icon.field.field-gender.selected {
        background-position: -560px -640px; }
    .jcsdl-container .jcsdl-icon.field.field-tweet {
      background-position: -640px -720px; }
      .jcsdl-container .jcsdl-icon.field.field-tweet.selected {
        background-position: -720px -720px; }
    .jcsdl-container .jcsdl-icon.field.field-place {
      background-position: -160px -800px; }
      .jcsdl-container .jcsdl-icon.field.field-place.selected {
        background-position: -240px -800px; }
    .jcsdl-container .jcsdl-icon.field.field-retweet {
      background-position: -320px -800px; }
      .jcsdl-container .jcsdl-icon.field.field-retweet.selected {
        background-position: -400px -800px; }
    .jcsdl-container .jcsdl-icon.field.field-retweeted {
      background-position: -480px -800px; }
      .jcsdl-container .jcsdl-icon.field.field-retweeted.selected {
        background-position: -560px -800px; }
    .jcsdl-container .jcsdl-icon.field.field-mentions {
      background-position: -640px -800px; }
      .jcsdl-container .jcsdl-icon.field.field-mentions.selected {
        background-position: -720px -800px; }
    .jcsdl-container .jcsdl-icon.field.field-inreply {
      background-position: 0 -880px; }
      .jcsdl-container .jcsdl-icon.field.field-inreply.selected {
        background-position: -80px -880px; }
    .jcsdl-container .jcsdl-icon.field.field-count {
      background-position: -160px -880px; }
      .jcsdl-container .jcsdl-icon.field.field-count.selected {
        background-position: -240px -880px; }
    .jcsdl-container .jcsdl-icon.field.field-ratio {
      background-position: -320px -880px; }
      .jcsdl-container .jcsdl-icon.field.field-ratio.selected {
        background-position: -400px -880px; }
    .jcsdl-container .jcsdl-icon.field.field-id, .jcsdl-container .jcsdl-icon.field.field-user-id {
      background-position: -480px -880px; }
      .jcsdl-container .jcsdl-icon.field.field-id.selected, .jcsdl-container .jcsdl-icon.field.field-user-id.selected {
        background-position: -560px -880px; }
    .jcsdl-container .jcsdl-icon.field.field-placeattrs {
      background-position: -640px -880px; }
      .jcsdl-container .jcsdl-icon.field.field-placeattrs.selected {
        background-position: -720px -880px; }
    .jcsdl-container .jcsdl-icon.field.field-country {
      background-position: 0 -960px; }
      .jcsdl-container .jcsdl-icon.field.field-country.selected {
        background-position: -80px -960px; }
    .jcsdl-container .jcsdl-icon.field.field-elapsed {
      background-position: -640px -960px; }
      .jcsdl-container .jcsdl-icon.field.field-elapsed.selected {
        background-position: -720px -960px; }
    .jcsdl-container .jcsdl-icon.field.field-buries {
      background-position: 0 -1040px; }
      .jcsdl-container .jcsdl-icon.field.field-buries.selected {
        background-position: -80px -1040px; }
    .jcsdl-container .jcsdl-icon.field.field-diggs {
      background-position: -160px -1040px; }
      .jcsdl-container .jcsdl-icon.field.field-diggs.selected {
        background-position: -240px -1040px; }
    .jcsdl-container .jcsdl-icon.field.field-status {
      background-position: -320px -1040px; }
      .jcsdl-container .jcsdl-icon.field.field-status.selected {
        background-position: -400px -1040px; }
    .jcsdl-container .jcsdl-icon.field.field-application {
      background-position: -640px -1120px; }
      .jcsdl-container .jcsdl-icon.field.field-application.selected {
        background-position: -720px -1120px; }
    .jcsdl-container .jcsdl-icon.field.field-message {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-message.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-author {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-author.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-author-id {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-author-id.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-author-name {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-author-name.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-text {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-text.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-mentions {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-mentions.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-domains {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-domains.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-user-id {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-user-id.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-user-name {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-user-name.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-user-description {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-user-description.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-user-followers_count {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-user-followers_count.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-user {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-user.selected {
        background-position: 0 0; }
    -location
    .jcsdl-container .jcsdl-icon.field.field-place {
      background-position: 0 0; }
      -location
      .jcsdl-container .jcsdl-icon.field.field-place.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-place-country_code {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-place-country_code.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-name {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-name.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-likes-names {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-likes-names.selected {
        background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.field.field-likes-count {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.field-likes-count.selected {
        background-position: 0 0; }
