/* some theming variables */
$color : #376491;
$colorLight : #888;
$borderColor : #dcdcdc;
$borderColorInput : #c8d7de;
$elementsSprite : 'img/elements.png?5';
$selectSprite : 'img/select.png?12';
$stepBackground : 'img/step_background.png?5';
$targetIconsSprite : 'img/icons-sprite-targets.png?6';
$fieldIconsSprite : 'img/icons-sprite-fields.png?6';
$operatorIconsSprite : 'img/icons-sprite-fields-operators.png?1';
$otherIconsSprite : 'img/icons-sprite-other.png?2';

/* useful mixins */
@mixin rounded($radius: 5px) {
	-webkit-border-radius: $radius;
	-khtml-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
}

@mixin roundedCorner($topLeft: 0, $topRight: 0, $bottomRight: 0, $bottomLeft: 0) {
	-webkit-border-top-left-radius: $topLeft;
	-webkit-border-top-right-radius: $topRight;
	-webkit-border-bottom-right-radius: $bottomRight;
	-webkit-border-bottom-left-radius: $bottomLeft;
	-moz-border-radius-topleft: $topLeft;
	-moz-border-radius-topright: $topRight;
	-moz-border-radius-bottomright: $bottomRight;
	-moz-border-radius-bottomleft: $bottomLeft;
	border-top-left-radius: $topLeft;
	border-top-right-radius: $topRight;
	border-bottom-right-radius: $bottomRight;
	border-bottom-left-radius: $bottomLeft;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

@mixin opacity($opacity: 0.5) {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
	filter: alpha(opacity=$opacity * 10);
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	opacity: $opacity;
}

/*
 * JCSDL EDITOR
 */
.jcsdl-container {
	overflow: hidden; position: relative;
	font-size: 13px; font-family: "Helvetica Neue", "Helvetica", sans-serif; color: $colorLight;

	/* building blocks */
	a {color: $color; text-decoration: none;
		&:hover {color: lighten($color, 5%);}
	}

	.jcsdl-label {font-size: 1em; color: $colorLight; font-weight: normal;}
	.jcsdl-bordered {padding: 8px; border: 1px solid $borderColorInput; @include rounded(3px);}

	.jcsdl-icon {
		float: left; margin: 0; margin-right: 20px;
		display: block; width: 80px; height: 80px;
		overflow: hidden;
		text-indent: -9999px;
		background-color: #f0f0f0 !important;

		&.target {width: 110px; height: 110px; margin-right: 35px;}

		&:hover {}
		&.selected {}
	}

	.jcsdl-button {
		float: left; margin-right: 8px;
		overflow: hidden; text-indent: -9999px;
		display: block; height: 34px; width: 140px;
		background: url($elementsSprite) no-repeat 0 -55px;

		&.jcsdl-editor-save, &.jcsdl-filter-save {}
		&.jcsdl-editor-cancel, &.jcsdl-filter-cancel {width: 56px; background-position: 0 -89px;}

		&:hover {@include opacity(0.9);}
	}

	.jcsdl-header {
		overflow: hidden;
		padding: 15px;
		border-bottom: 1px dotted $borderColor;

		h3 {
			float: left; margin: 0;
			line-height: 1em;
			font-size: 1.8em; color: $color; font-weight: normal;
		}
	}

	.jcsdl-footer {
		overflow: hidden;
		padding: 15px;
		border-top: 1px dotted $borderColor;

		.jcsdl-actions {float: left; overflow: hidden; margin-bottom: 5px;}
	}

	/*
	 * MAIN VIEW
	 */
	.jcsdl-mainview {
		.jcsdl-header, .jcsdl-header h3 {line-height: 38px;}
	}

	/* main view actions (add new filter, add existing stream) */
	.jcsdl-mainview-actions {
		overflow: hidden;
		float: right; margin-top: 2px;
	}

	.jcsdl-mainview-action {
		float: left; margin-right: 8px;
		display: block; overflow: hidden;
		line-height: 14px;
		color: $color;

		.jcsdl-picto {
			float: left; margin-right: 8px;
			display: block; width: 14px; height: 14px;
			background: url($elementsSprite) no-repeat -140px -68px;
		}

		&.jcsdl-add-filter {margin-right: 0;}
	}

	/* main view mode (expanded / collapsed) */
	.jcsdl-mainview-mode {
		overflow: hidden;
		float: right; margin-left: 15px;
		padding-left: 15px;
		border-left: 1px dotted $borderColor;
	}

	.jcsdl-mainview-mode-options {
		overflow: hidden;
		float: right; margin-left: 8px; margin-top: 2px;
		height: 14px;
	}

	.jcsdl-mainview-mode-option {
		float: left; margin-right: 8px;
		display: block; width: 13px; height: 13px;
		background: url($elementsSprite) no-repeat -140px -55px;
		@include opacity(0.3);

		&.jcsdl-expanded {background-position: -156px -55px;}
		&.jcsdl-collapsed {background-position: -140px -55px; margin-right: 0;}

		&:hover {@include opacity(0.5);}
		&.active {@include opacity(1);}
	}

	/* filters logic (AND/OR) */
	.jcsdl-filters-logic {
		margin: 15px;
		text-align: left;
	}

	.jcsdl-filters-logic-option {
		margin-right: 8px;
		cursor: pointer;

		input {margin-right: 5px;}

		&.jcsdl-or {margin-right: 0;}
	}

	/* filters list */
	.jcsdl-filter {
		overflow: hidden; position: relative; margin: 15px;
		padding: 5px;
		border: 1px solid $borderColor;
		@include rounded(3px);

		.jcsdl-filter-options {
			position: absolute; top: 0; right: 0;
			padding: 6px;
			background: #f7f7f7;
			border: 1px solid $borderColor; border-top: 0; border-right: 0;
			@include roundedCorner(0, 0, 0, 3px);

			a, span {margin: 0 2px;}
		}
	}

	.jcsdl-filter-description {overflow: hidden;}

	.jcsdl-filter-info {
		float: left; margin: 0 10px;

		&.target {font-weight: bold;}
		&.operator {font-weight: bold;}
	}

	/* expanded / collapsed filters list */
	.jcsdl-filters-list {
		&.expanded .jcsdl-filter {

			.jcsdl-filter-target {margin: 0;}
			.jcsdl-filter-field {margin: 15px 10px;}
			.jcsdl-filter-operator {
				margin: 15px 10px;

				.jcsdl-icon {margin: 0 !important;}

				&.operator-contains {display: none;}
				&.operator-substr {display: none;}
				&.operator-contains_any {display: none;}
				&.operator-in {display: none;}
				&.operator-equals {display: none;}
			}
			.jcsdl-filter-info.value {
				margin: 36px 0;
				font-size: 1.2em;
			}

		}

		&.collapsed .jcsdl-filter {

			.jcsdl-filter-description {float: left;}

			.jcsdl-filter-info.value {border: 0; padding: 0;}

			.jcsdl-filter-target,
			.jcsdl-filter-field,
			.jcsdl-filter-operator,
			.jcsdl-filter-value {
				float: none; margin: 0;
				display: inline; width: auto; height: auto;
				background: none; line-height: 1em;
			}
			.jcsdl-filter-field {margin: 0 10px;}
			.jcsdl-filter-operator {
				font-weight: bold;

				&.operator-contains {display: none;}
				&.operator-substr {display: none;}
				&.operator-contains_any {display: none;}
				&.operator-in {display: none;}
				&.operator-equals {display: none;}
			}

			.jcsdl-filter-options {
				position: relative; float: right;
				padding: 0;
				background: transparent; border: 0;
			}

		}
	}

	/*
	 * FILTER EDITOR VIEW
	 */
	/* JCSDL Carousel */
	.jcsdl-carousel-wrap {
		overflow: hidden; position: relative;
		margin: 0 auto;
	}

	.jcsdl-carousel-scroll {
		float: left; margin: 0 10px;
		display: block; width: 29px; height: 29px;
		line-height: 29px; text-align: center;
		background: transparent url($elementsSprite) no-repeat -56px -89px;

		&.right {
			float: right;
			background-position: -85px -89px;
		}

		&:hover {@include opacity(0.8);}
		&.inactive {@include opacity(0.5);}
	}

	/* editor steps */
	.jcsdl-filter-editor {
		.jcsdl-step {
			overflow: hidden; text-align: center;

			&.jcsdl-filter-step-value {padding-bottom: 30px;}

			/* various states of target selection */
			.jcsdl-filter-target-wrap {background: transparent url($selectSprite) no-repeat center -378px;} /* prompt selection */
			&.selected .jcsdl-filter-target-wrap {background-position: center -553px;} /* only target selected */
			&.selected.field-selected .jcsdl-filter-target-wrap {background-position: center 8px;} /* a field has been selected */

			/* various states of field selection */
			.jcsdl-filter-target-field-wrap {}
			&.selected .jcsdl-filter-target-field-wrap {background: transparent url($selectSprite) no-repeat center -255px;}
			&.selected.field-selected .jcsdl-filter-target-field-wrap {background-position: center -165px;}

			/* various states of field selection */
			.jcsdl-filter-target-field-input-wrap {}
			&.selected .jcsdl-filter-target-field-input-wrap {background: transparent url($selectSprite) no-repeat center -255px;}
			&.selected.field-selected .jcsdl-filter-target-field-input-wrap {background-position: center -165px;}

			/* when a step is selected it also has shadow underneath */
			&.selected {background: transparent url($stepBackground) no-repeat bottom center;}
		}

		.jcsdl-filter-target-wrap {
			height: 145px; padding-top: 30px;
			.jcsdl-carousel-scroll {margin-top: 40px;}
		}

		.jcsdl-filter-target-field-wrap {
			padding-top: 5px; padding-bottom: 40px;
			.jcsdl-carousel-scroll {margin-top: 25px;}
		}

		.jcsdl-filter-target-field-input-wrap {
			padding-top: 5px; padding-bottom: 40px;
			.jcsdl-carousel-scroll {margin-top: 25px;}
		}

		.jcsdl-filter-value-input-operators {
			margin: 10px auto; margin-top: 20px;
			display: block; width: 75%;
			text-align: center;

			.jcsdl-icon.operator {
				float: none; margin: 10px; display: inline-block;
				/* ie 7 */
				zoom: 1; *display: inline;
			}
		}

		/* filter editor footer */
		.jcsdl-footer {text-align: center;}
	}

	.jcsdl-filter-save {
		float: none; margin: 10px auto;
		width: 181px; height: 55px;
		background-position: 0 0;
	}

	.jcsdl-filter-cancel {color: $colorLight; font-weight: normal;}

	/*
	 * FILTER EDITOR INPUT FIELDS
	 */
	.jcsdl-input-text input, .jcsdl-input-number input {
		display: block; margin: 0 auto;
		padding: 5px 10px; width: 90%;
		font-size: 1.3em; line-height: 1.5em;
		border: 1px solid $borderColor;
		@include rounded(3px);
	}
	.jcsdl-input-number input {width: 100px;}

	.jcsdl-input-select {
		margin: 0 30px;
		text-align: center;

		.jcsdl-input-select-option {
			margin: 10px;
			display: inline-block; padding: 0 10px; height: 25px; line-height: 25px;
			font-size: 13px; color: #3a3a3a;
			background: url($elementsSprite) repeat-x 0 -148px;
			border: 1px solid #9b9b9b;
			@include rounded(3px);

			/* ie7 */
			zoom: 1;
			*display: inline;

			&.selected {background-position: 0 -123px; border-color: #da6e01; color: #fff;}
			&:active {
				background-position: 0 -173px; border-color: #af5901; color: #fff;
				span {position: relative; top: 1px;}
			}
		}
	}

	/* filter editor input fields overrides for the filters list view */
	/* expanded view */
	.jcsdl-filter-info.value {
		&.input-select {
			padding: 0; border: 0;

			.jcsdl-input-select {
				margin: 0;

				.jcsdl-input-select-option {margin: 3px 5px;}
				.jcsdl-input-select-more {font-size: 13px; line-height: 25px;}
			}
		}
	}
	/* collapsed view overrides */
	.jcsdl-filters-list.collapsed .jcsdl-filter-info.value {
		&.input-select {
			.jcsdl-input-select {
				.jcsdl-input-select-option {
					display: inline; height: auto; line-height: inherit; padding: 0;
					color: inherit; font-weight: normal;
					background: none; border: 0;

					span {top: 0 !important;}
				}
			}
		}
	}


	/*
	 * ICONS
	 */
	.jcsdl-icon.target {
		background: url($targetIconsSprite) no-repeat 0 0;

		&.target-interaction {background-position: 0 0; 			&.selected {background-position: 0 -110px;}}
		&.target-facebook	{background-position: -110px 0; 		&.selected {background-position: -110px -110px;}}
		&.target-twitter 	{background-position: -220px 0; 		&.selected {background-position: -220px -110px;}}
		&.target-digg 		{background-position: -330px 0; 		&.selected {background-position: -330px -110px;}}
		&.target-myspace 	{background-position: -440px 0; 		&.selected {background-position: -440px -110px;}}
		&.target-klout 		{background-position: -550px 0; 		&.selected {background-position: -550px -110px;}}
		&.target-blog 		{}
		&.target-board 		{}
	}

	.jcsdl-icon.field {
		background: url($fieldIconsSprite) no-repeat 0 0;

		&.icon-geo			{background-position: 0 0; 				&.selected {background-position: -80px 0;}}
		&.icon-link 		{background-position: -160px 0; 		&.selected {background-position: -240px 0;}}
		&.icon-sample 		{background-position: -320px 0; 		&.selected {background-position: -400px 0;}}
		&.icon-title 		{background-position: -480px 0; 		&.selected {background-position: -560px 0;}}
		&.icon-content 		{background-position: -640px 0; 		&.selected {background-position: -720px 0;}}
		&.icon-description 	{background-position: 0 -80px; 			&.selected {background-position: -80px -80px;}}
		&.icon-source 		{background-position: -160px -80px; 	&.selected {background-position: -240px -80px;}}
		&.icon-type 		{background-position: -320px -80px; 	&.selected {background-position: -400px -80px;}}
		&.icon-avatar 		{background-position: -480px -80px; 	&.selected {background-position: -560px -80px;}}
		&.icon-comment 		{background-position: -640px -80px;		&.selected {background-position: -720px -80px;}}
		&.icon-comments-count {background-position: 0 -160px;		&.selected {background-position: -80px -160px;}}
		&.icon-author-username, &.icon-username {background-position: -160px -160px; &.selected {background-position: -240px -160px;}}
		&.icon-username 	{background-position: -160px -160px; 	&.selected {background-position: -240px -160px;}}
		&.icon-user 		{background-position: -320px -160px;	&.selected {background-position: -400px -160px;}}
		&.icon-fullname 	{background-position: -480px -160px;	&.selected {background-position: -560px -160px;}}
		&.icon-registered	{background-position: -640px -160px;	&.selected {background-position: -720px -160px;}}
		&.icon-user-description {background-position: 0 -240px;		&.selected {background-position: -80px -240px;}}
		&.icon-followers_count	{background-position: -160px -240px;		&.selected {background-position: -240px -240px;}}
		&.icon-follower_ratio	{background-position: -320px -240px;		&.selected {background-position: -400px -240px;}}
		&.icon-friends_count	{background-position: -480px -240px;		&.selected {background-position: -560px -240px;}}
		&.icon-location 	{background-position: -640px -240px;	&.selected {background-position: -720px -240px;}}
		&.icon-screen_name	{background-position: 0 -320px;			&.selected {background-position: -80px -320px;}}
		&.icon-domains 		{background-position: -160px -320px;	&.selected {background-position: -240px -320px;}}
		&.icon-topic 		{background-position: -320px -320px; 	&.selected {background-position: -400px -320px;}}
		&.icon-language 	{background-position: -480px -320px; 	&.selected {background-position: -560px -320px;}}
		&.icon-statuses_count {background-position: -640px -320px;	&.selected {background-position: -720px -320px;}}
		&.icon-time_zone 	{background-position: 0 -400px;			&.selected {background-position: -80px -400px;}}
		&.icon-placename 	{background-position: -160px -400px;	&.selected {background-position: -240px -400px;}}
		&.icon-id 			{background-position: -320px -400px;	&.selected {background-position: -400px -400px;}}
		&.icon-amplification {background-position: -480px -400px; 	&.selected {background-position: -560px -400px;}}
		&.icon-listed_count {background-position: -640px -400px;	&.selected {background-position: -720px -400px;}}
		&.icon-network 		{background-position: 0 -480px; 		&.selected {background-position: -80px -480px;}}
		&.icon-score 		{background-position: -160px -480px; 	&.selected {background-position: -240px -480px;}}
		&.icon-truereach 	{background-position: -320px -480px; 	&.selected {background-position: -400px -480px;}}
		&.icon-trends 		{background-position: -480px -480px; 	&.selected {background-position: -560px -480px;}}
		&.icon-country_code {background-position: -640px -480px;	&.selected {background-position: -720px -480px;}}
		&.icon-likes-ids	{background-position: 0 -560px;			&.selected {background-position: -80px -560px;}}
		&.icon-likes-names	{background-position: -160px -560px;	&.selected {background-position: -240px -560px;}}
		&.icon-to-ids		{background-position: -320px -560px;	&.selected {background-position: -400px -560px;}}
		&.icon-to-names		{background-position: -480px -560px;	&.selected {background-position: -560px -560px;}}
		&.icon-age 			{background-position: -640px -560px; 	&.selected {background-position: -720px -560px;}}
		&.icon-category		{background-position: 0 -640px;			&.selected {background-position: -80px -640px;}}
		&.icon-url 			{background-position: -160px -640px; 	&.selected {background-position: -240px -640px;}}
		&.icon-retweet-count {background-position: -320px -640px; 	&.selected {background-position: -400px -640px;}}
		&.icon-gender 		{background-position: -480px -640px; 	&.selected {background-position: -560px -640px;}}
		&.icon-tweet 		{background-position: -640px -720px; 	&.selected {background-position: -720px -720px;}}
		&.icon-place 		{background-position: -160px -800px; 	&.selected {background-position: -240px -800px;}}
		&.icon-retweet 		{background-position: -320px -800px; 	&.selected {background-position: -400px -800px;}}
		&.icon-retweeted 	{background-position: -480px -800px; 	&.selected {background-position: -560px -800px;}}
		&.icon-mentions 	{background-position: -640px -800px; 	&.selected {background-position: -720px -800px;}}
		&.icon-inreply 		{background-position: 0 -880px; 		&.selected {background-position: -80px -880px;}}
		&.icon-count 		{background-position: -160px -880px; 	&.selected {background-position: -240px -880px;}}
		&.icon-ratio 		{background-position: -320px -880px; 	&.selected {background-position: -400px -880px;}}
		&.icon-user-id 		{background-position: -480px -880px; 	&.selected {background-position: -560px -880px;}}
		&.icon-placeattrs 	{background-position: -640px -880px; 	&.selected {background-position: -720px -880px;}}
		&.icon-country 		{background-position: 0 -960px; 		&.selected {background-position: -80px -960px;}}
		&.icon-elapsed 		{background-position: -640px -960px; 	&.selected {background-position: -720px -960px;}}
		&.icon-buries 		{background-position: 0 -1040px; 		&.selected {background-position: -80px -1040px;}}
		&.icon-diggs 		{background-position: -160px -1040px; 	&.selected {background-position: -240px -1040px;}}
		&.icon-status 		{background-position: -320px -1040px; 	&.selected {background-position: -400px -1040px;}}
		&.icon-profileviews {background-position: 0 -1120px; 		&.selected {background-position: -80px -1120px;}}
		&.icon-photos 		{background-position: -160px -1120px;	&.selected {background-position: -240px -1120px;}}
		&.icon-verb 		{background-position: -480px -1120px; 	&.selected {background-position: -560px -1120px;}}
		&.icon-application 	{background-position: -640px -1120px; 	&.selected {background-position: -720px -1120px;}}
		&.icon-caption 		{background-position: 0 -1200px; 		&.selected {background-position: -80px -1200px;}}
		&.icon-likes-count 	{background-position: -160px -1200px; 	&.selected {background-position: -240px -1200px;}}
		&.icon-og-by 		{background-position: -320px -1200px; 	&.selected {background-position: -400px -1200px;}}
		&.icon-opengraph 	{background-position: -480px -1200px;	&.selected {background-position: -560px -1200px;}}
		&.icon-message 		{background-position: -640px -1200px; 	&.selected {background-position: -720px -1200px;}}
	}

	.jcsdl-icon.input {
		background: url($otherIconsSprite) no-repeat 0 0;

		&.icon-geo_radius 	{background-position: 0 -400px; 		&.selected {background-position: -80px -400px;}}
		&.icon-geo_polygon 	{background-position: 0 -480px; 		&.selected {background-position: -80px -480px;}}
		&.icon-geo_box 		{background-position: 0 -560px; 		&.selected {background-position: -80px -560px;}}
		&.icon-geo_text 	{background-position: 0 80px; 			&.selected {background-position: -80px 80px;}}
	}

	.jcsdl-icon.operator {
		background: url($operatorIconsSprite) no-repeat 0 0;

		&.icon-contains 	{background-position: 0 0; 				&.selected {background-position: -80px 0;}}
		&.icon-substr 		{background-position: -160px 0; 		&.selected {background-position: -240px 0;}}
		&.icon-contains_any {background-position: -320px 0; 		&.selected {background-position: -400px 0;}}
		&.icon-contains_near{background-position: -480px 0; 		&.selected {background-position: -560px 0;}}
		&.icon-equals 		{background-position: -640px 0; 		&.selected {background-position: -720px 0;}}
		&.icon-exists 		{background-position: 0 -80px; 			&.selected {background-position: -80px -80px;}}
		&.icon-in 			{background-position: -160px -80px; 	&.selected {background-position: -240px -80px;}}
		&.icon-greaterThan 	{background-position: -480px -80px; 	&.selected {background-position: -560px -80px;}}
		&.icon-lowerThan 	{background-position: -320px -80px; 	&.selected {background-position: -400px -80px;}}
		&.icon-different 	{background-position: -640px -80px; 	&.selected {background-position: -720px -80px;}}
	}

}