/* some theming variables */
/* useful mixins */
/*
 * JCSDL EDITOR
 */
.jcsdl-container {
  overflow: hidden;
  position: relative;
  font-size: 13px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #888888;
  /* building blocks */
  /*
   * MAIN VIEW
   */
  /* main view actions (add new filter, add existing stream) */
  /* main view mode (expanded / collapsed) */
  /* filters logic (AND/OR) */
  /* filters list */
  /* expanded / collapsed filters list */
  /*
   * FILTER EDITOR VIEW
   */
  /* JCSDL Carousel */
  /* editor steps */
  /*
   * FILTER EDITOR INPUT FIELDS
   */
  /* filter editor input fields overrides for the filters list view */
  /* expanded view */
  /* collapsed view overrides */
  /*
   * ICONS
   */ }
  .jcsdl-container a {
    color: #376491;
    text-decoration: none; }
    .jcsdl-container a:hover {
      color: #3e71a3; }
  .jcsdl-container .jcsdl-label {
    font-size: 1em;
    color: #888888;
    font-weight: normal; }
  .jcsdl-container .jcsdl-bordered {
    padding: 8px;
    border: 1px solid #c8d7de;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  .jcsdl-container .jcsdl-icon {
    float: left;
    margin: 0;
    margin-right: 20px;
    display: block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    text-indent: -9999px; }
  .jcsdl-container .jcsdl-button {
    float: left;
    margin-right: 8px;
    overflow: hidden;
    text-indent: -9999px;
    display: block;
    height: 34px;
    width: 140px;
    background: url("img/elements.png?10") no-repeat 0 -55px; }
    .jcsdl-container .jcsdl-button.jcsdl-editor-cancel, .jcsdl-container .jcsdl-button.jcsdl-filter-cancel {
      width: 56px;
      background-position: 0 -89px; }
    .jcsdl-container .jcsdl-button:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
      filter: alpha(opacity=9);
      -moz-opacity: 0.9;
      -khtml-opacity: 0.9;
      opacity: 0.9; }
  .jcsdl-container .jcsdl-header {
    overflow: hidden;
    padding: 15px;
    border-bottom: 1px dotted #dcdcdc; }
    .jcsdl-container .jcsdl-header h3 {
      float: left;
      margin: 0;
      line-height: 1em;
      font-size: 1.8em;
      color: #376491;
      font-weight: normal; }
  .jcsdl-container .jcsdl-footer {
    overflow: hidden;
    padding: 15px;
    border-top: 1px dotted #dcdcdc; }
    .jcsdl-container .jcsdl-footer .jcsdl-actions {
      float: left;
      overflow: hidden;
      margin-bottom: 5px; }
  .jcsdl-container .jcsdl-mainview .jcsdl-header, .jcsdl-container .jcsdl-mainview .jcsdl-header h3 {
    line-height: 38px; }
  .jcsdl-container .jcsdl-mainview-actions {
    overflow: hidden;
    float: right;
    margin-top: 2px; }
  .jcsdl-container .jcsdl-mainview-action {
    float: left;
    margin-right: 8px;
    display: block;
    overflow: hidden;
    line-height: 14px;
    color: #376491; }
    .jcsdl-container .jcsdl-mainview-action .jcsdl-picto {
      float: left;
      margin-right: 8px;
      display: block;
      width: 14px;
      height: 14px;
      background: url("img/elements.png?10") no-repeat -140px -68px; }
    .jcsdl-container .jcsdl-mainview-action.jcsdl-add-filter {
      margin-right: 0; }
  .jcsdl-container .jcsdl-mainview-mode {
    overflow: hidden;
    float: right;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px dotted #dcdcdc; }
  .jcsdl-container .jcsdl-mainview-mode-options {
    overflow: hidden;
    float: right;
    margin-left: 8px;
    margin-top: 2px;
    height: 14px; }
  .jcsdl-container .jcsdl-mainview-mode-option {
    float: left;
    margin-right: 8px;
    display: block;
    width: 13px;
    height: 13px;
    background: url("img/elements.png?10") no-repeat -140px -55px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
    filter: alpha(opacity=3);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3; }
    .jcsdl-container .jcsdl-mainview-mode-option.jcsdl-expanded {
      background-position: -156px -55px; }
    .jcsdl-container .jcsdl-mainview-mode-option.jcsdl-collapsed {
      background-position: -140px -55px;
      margin-right: 0; }
    .jcsdl-container .jcsdl-mainview-mode-option:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
      filter: alpha(opacity=5);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5; }
    .jcsdl-container .jcsdl-mainview-mode-option.active {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
      filter: alpha(opacity=10);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1; }
  .jcsdl-container .jcsdl-filters-logic {
    margin: 15px;
    text-align: left; }
  .jcsdl-container .jcsdl-filters-logic-option {
    margin-right: 8px;
    cursor: pointer; }
    .jcsdl-container .jcsdl-filters-logic-option input {
      margin-right: 5px; }
    .jcsdl-container .jcsdl-filters-logic-option.jcsdl-or {
      margin-right: 0; }
  .jcsdl-container .jcsdl-filter {
    overflow: hidden;
    position: relative;
    margin: 15px;
    padding: 5px;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
    .jcsdl-container .jcsdl-filter .jcsdl-filter-options {
      position: absolute;
      top: 0;
      right: 0;
      padding: 6px;
      background: #f7f7f7;
      border: 1px solid #dcdcdc;
      border-top: 0;
      border-right: 0;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 3px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
      .jcsdl-container .jcsdl-filter .jcsdl-filter-options a, .jcsdl-container .jcsdl-filter .jcsdl-filter-options span {
        margin: 0 2px; }
  .jcsdl-container .jcsdl-filter-description {
    overflow: hidden; }
  .jcsdl-container .jcsdl-filter-info {
    float: left;
    margin: 0 10px; }
    .jcsdl-container .jcsdl-filter-info.target {
      font-weight: bold; }
    .jcsdl-container .jcsdl-filter-info.operator {
      font-weight: bold; }
  .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-target {
    margin: 0; }
  .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-field {
    margin: 15px 10px; }
  .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-operator {
    margin: 35px 0;
    border-color: #dcdcdc; }
    .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-operator.operator-contains, .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-operator.operator-substr, .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-operator.operator-contains_any, .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-operator.operator-in, .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-operator.operator-equals {
      display: none; }
  .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-info.operator {
    margin: 0 5px;
    margin-right: -3px; }
  .jcsdl-container .jcsdl-filters-list.expanded .jcsdl-filter .jcsdl-filter-info.value {
    margin: 35px 0;
    padding: 0 8px;
    height: 38px;
    line-height: 38px;
    font-size: 1.2em;
    background-color: white; }
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-description {
    float: left; }
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-info.value {
    border: 0;
    padding: 0; }
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-target,
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-field,
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator,
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-value {
    float: none;
    margin: 0;
    display: inline;
    width: auto;
    height: auto;
    background: none;
    line-height: 1em; }
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-field {
    margin: 0 10px; }
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator {
    font-weight: bold;
    border: 0 !important; }
    .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator.operator-contains, .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator.operator-substr, .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator.operator-contains_any, .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator.operator-in, .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-operator.operator-equals {
      display: none; }
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter .jcsdl-filter-options {
    position: relative;
    float: right;
    padding: 0;
    background: transparent;
    border: 0; }
  .jcsdl-container .jcsdl-carousel-wrap {
    overflow: hidden;
    position: relative;
    margin: 0 auto; }
  .jcsdl-container .jcsdl-carousel-scroll {
    float: left;
    margin: 0 10px;
    display: block;
    width: 29px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    background: transparent url("img/elements.png?10") no-repeat -56px -89px; }
    .jcsdl-container .jcsdl-carousel-scroll.right {
      float: right;
      background-position: -85px -89px; }
    .jcsdl-container .jcsdl-carousel-scroll:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
      filter: alpha(opacity=8);
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8; }
    .jcsdl-container .jcsdl-carousel-scroll.inactive {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
      filter: alpha(opacity=5);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5; }
  .jcsdl-container .jcsdl-filter-editor {
    /* filter editor footer */ }
    .jcsdl-container .jcsdl-filter-editor .jcsdl-step {
      overflow: hidden;
      text-align: center;
      /* various states of target selection */
      /* prompt selection */
      /* only target selected */
      /* a field has been selected */
      /* various states of field selection */
      /* various states of field selection */
      /* when a step is selected it also has shadow underneath */ }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-step.jcsdl-filter-step-value {
        padding-bottom: 30px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-step .jcsdl-filter-target-wrap {
        background: transparent url("img/select.png?12") no-repeat center -378px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-step.selected .jcsdl-filter-target-wrap {
        background-position: center -553px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-step.selected.field-selected .jcsdl-filter-target-wrap {
        background-position: center 8px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-step.selected .jcsdl-filter-target-field-wrap {
        background: transparent url("img/select.png?12") no-repeat center -255px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-step.selected.field-selected .jcsdl-filter-target-field-wrap {
        background-position: center -165px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-step.selected .jcsdl-filter-target-field-input-wrap {
        background: transparent url("img/select.png?12") no-repeat center -255px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-step.selected.field-selected .jcsdl-filter-target-field-input-wrap {
        background-position: center -165px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-step.selected {
        background: transparent url("img/step_background.png?5") no-repeat bottom center; }
    .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-target-wrap {
      height: 145px;
      padding-top: 30px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-target-wrap .jcsdl-carousel-scroll {
        margin-top: 40px; }
    .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-target-field-wrap {
      padding-top: 5px;
      padding-bottom: 40px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-target-field-wrap .jcsdl-carousel-scroll {
        margin-top: 25px; }
    .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-target-field-input-wrap {
      padding-top: 5px;
      padding-bottom: 40px; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-target-field-input-wrap .jcsdl-carousel-scroll {
        margin-top: 25px; }
    .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-value-input-operators {
      margin: 10px auto;
      margin-top: 20px;
      display: block;
      width: 75%;
      text-align: center; }
      .jcsdl-container .jcsdl-filter-editor .jcsdl-filter-value-input-operators .jcsdl-icon.operator {
        float: none;
        margin: 5px;
        display: inline-block;
        /* ie 7 */
        zoom: 1;
        *display: inline; }
    .jcsdl-container .jcsdl-filter-editor .jcsdl-footer {
      text-align: center; }
  .jcsdl-container .jcsdl-filter-save {
    float: none;
    margin: 10px auto;
    width: 181px;
    height: 55px;
    background-position: 0 0; }
  .jcsdl-container .jcsdl-filter-cancel {
    color: #888888;
    font-weight: normal; }
  .jcsdl-container .jcsdl-input-text, .jcsdl-container .jcsdl-input-number {
    display: block;
    margin: 0 10px;
    margin-right: 70px; }
    .jcsdl-container .jcsdl-input-text input, .jcsdl-container .jcsdl-input-number input {
      display: block;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding: 5px 10px;
      width: 100%;
      height: 40px;
      font-size: 1.3em;
      line-height: 1.5em;
      border: 1px solid #dcdcdc;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
  .jcsdl-container .jcsdl-input-number {
    margin: 0 10px; }
    .jcsdl-container .jcsdl-input-number input {
      margin: 0 auto;
      width: 100px; }
  .jcsdl-container .jcsdl-operator-cs {
    float: right;
    cursor: pointer; }
  .jcsdl-container .jcsdl-input-select {
    margin: 0 30px;
    text-align: center; }
    .jcsdl-container .jcsdl-input-select .jcsdl-input-select-option {
      margin: 10px;
      display: inline-block;
      padding: 0 10px;
      height: 25px;
      line-height: 25px;
      font-size: 13px;
      color: #3a3a3a;
      background: url("img/elements.png?10") repeat-x 0 -148px;
      border: 1px solid #9b9b9b;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      /* ie7 */
      zoom: 1;
      *display: inline; }
      .jcsdl-container .jcsdl-input-select .jcsdl-input-select-option.selected {
        background-position: 0 -123px;
        border-color: #da6e01;
        color: #fff; }
      .jcsdl-container .jcsdl-input-select .jcsdl-input-select-option:active {
        background-position: 0 -173px;
        border-color: #af5901;
        color: #fff; }
        .jcsdl-container .jcsdl-input-select .jcsdl-input-select-option:active span {
          position: relative;
          top: 1px; }
  .jcsdl-container .jcsdl-input-slider {
    margin: 10px 30px;
    text-align: center; }
    .jcsdl-container .jcsdl-input-slider .jcsdl-slider-controls {
      margin: 0 auto;
      width: 200px;
      padding: 5px 0;
      overflow: hidden; }
      .jcsdl-container .jcsdl-input-slider .jcsdl-slider-controls .jcsdl-slider-minus, .jcsdl-container .jcsdl-input-slider .jcsdl-slider-controls .jcsdl-slider-plus {
        float: right;
        margin: 13px 10px;
        overflow: hidden;
        display: block;
        width: 14px;
        height: 14px;
        background: transparent url("img/elements.png?10") no-repeat -115px -89px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
        filter: alpha(opacity=7);
        -moz-opacity: 0.7;
        -khtml-opacity: 0.7;
        opacity: 0.7; }
        .jcsdl-container .jcsdl-input-slider .jcsdl-slider-controls .jcsdl-slider-minus:active, .jcsdl-container .jcsdl-input-slider .jcsdl-slider-controls .jcsdl-slider-plus:active {
          position: relative;
          top: 1px; }
        .jcsdl-container .jcsdl-input-slider .jcsdl-slider-controls .jcsdl-slider-minus:hover, .jcsdl-container .jcsdl-input-slider .jcsdl-slider-controls .jcsdl-slider-plus:hover {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
          filter: alpha(opacity=10);
          -moz-opacity: 1;
          -khtml-opacity: 1;
          opacity: 1; }
      .jcsdl-container .jcsdl-input-slider .jcsdl-slider-controls .jcsdl-slider-minus {
        float: left;
        background-position: -129px -89px; }
      .jcsdl-container .jcsdl-input-slider .jcsdl-slider-controls .jcsdl-slider-input {
        display: block;
        margin: 0 auto;
        padding: 5px;
        width: 110px;
        font-size: 24px;
        color: #1b1b1f;
        text-align: center;
        border: 1px solid #ccc;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; }
    .jcsdl-container .jcsdl-input-slider .jcsdl-slider-wrap {
      display: block;
      overflow: hidden;
      position: relative;
      min-height: 80px; }
      .jcsdl-container .jcsdl-input-slider .jcsdl-slider-wrap .jcsdl-slider-icon {
        display: none;
        float: left;
        margin: 0 10px;
        width: 80px;
        height: 80px;
        background: url("img/icons-sprite-other.png?2") no-repeat 0 0; }
        .jcsdl-container .jcsdl-input-slider .jcsdl-slider-wrap .jcsdl-slider-icon.max {
          float: right; }
    .jcsdl-container .jcsdl-input-slider .jcsdl-slider-container {
      position: relative;
      padding-top: 12px; }
    .jcsdl-container .jcsdl-input-slider .jcsdl-slider-label {
      position: absolute;
      top: 0;
      left: 5px;
      text-align: left;
      color: #444;
      font-size: 0.9em; }
      .jcsdl-container .jcsdl-input-slider .jcsdl-slider-label.max {
        right: 5px;
        left: auto;
        text-align: right; }
    .jcsdl-container .jcsdl-input-slider .jcsdl-slider {
      display: block;
      margin: 10px 15px;
      margin-bottom: 7px;
      height: 12px;
      cursor: pointer;
      background: transparent url("img/elements.png?10") repeat-x center -228px;
      border: 0;
      -webkit-border-radius: 0px;
      -khtml-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      border-radius: 0px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box; }
      .jcsdl-container .jcsdl-input-slider .jcsdl-slider .ui-slider-handle {
        top: 0;
        margin-left: -1em;
        display: block;
        width: 30px;
        height: 40px;
        cursor: pointer;
        background: transparent url("img/elements.png?10") no-repeat -152px -83px;
        border: 0;
        outline: none; }
    .jcsdl-container .jcsdl-input-slider .jcsdl-slider-bottom {
      display: block;
      overflow: hidden;
      margin: 0 8px;
      height: 15px; }
      .jcsdl-container .jcsdl-input-slider .jcsdl-slider-bottom .jcsdl-slider-bottom-left, .jcsdl-container .jcsdl-input-slider .jcsdl-slider-bottom .jcsdl-slider-bottom-right {
        display: block;
        width: 15px;
        height: 15px;
        float: left;
        background: transparent url("img/elements.png?10") no-repeat 0 -213px; }
      .jcsdl-container .jcsdl-input-slider .jcsdl-slider-bottom .jcsdl-slider-bottom-right {
        float: right;
        background-position: -31px -213px; }
      .jcsdl-container .jcsdl-input-slider .jcsdl-slider-bottom .jcsdl-slider-bottom-line {
        display: block;
        height: 15px;
        margin: 0 15px;
        background: transparent url("img/elements.png?10") repeat-x 0 -198px; }
  .jcsdl-container .jcsdl-map {
    overflow: hidden; }
    .jcsdl-container .jcsdl-map .jcsdl-map-box {
      float: right;
      margin-left: 10px;
      width: 230px;
      height: 400px;
      padding: 0 10px;
      text-align: left;
      border-left: 1px solid #dcdcdc; }
    .jcsdl-container .jcsdl-map .jcsdl-map-canvas {
      display: block;
      margin: 0;
      min-width: 320px;
      height: 400px; }
  .jcsdl-container .jcsdl-filter-info.value.input-select {
    padding: 0;
    border: 0; }
    .jcsdl-container .jcsdl-filter-info.value.input-select .jcsdl-input-select {
      margin: 0; }
      .jcsdl-container .jcsdl-filter-info.value.input-select .jcsdl-input-select .jcsdl-input-select-option {
        margin: 3px 5px; }
      .jcsdl-container .jcsdl-filter-info.value.input-select .jcsdl-input-select .jcsdl-input-select-more {
        font-size: 13px;
        line-height: 25px; }
  .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter-info.value.input-select .jcsdl-input-select .jcsdl-input-select-option {
    display: inline;
    height: auto;
    line-height: inherit;
    padding: 0;
    color: inherit;
    font-weight: normal;
    background: none;
    border: 0; }
    .jcsdl-container .jcsdl-filters-list.collapsed .jcsdl-filter-info.value.input-select .jcsdl-input-select .jcsdl-input-select-option span {
      top: 0 !important; }
  .jcsdl-container .jcsdl-icon.target {
    width: 110px;
    height: 110px;
    margin-right: 35px;
    background: url("img/icons-sprite-targets.png?6") no-repeat 0 0; }
    .jcsdl-container .jcsdl-icon.target.target-interaction {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.target.target-interaction.selected {
        background-position: 0 -110px; }
    .jcsdl-container .jcsdl-icon.target.target-facebook {
      background-position: -110px 0; }
      .jcsdl-container .jcsdl-icon.target.target-facebook.selected {
        background-position: -110px -110px; }
    .jcsdl-container .jcsdl-icon.target.target-twitter {
      background-position: -220px 0; }
      .jcsdl-container .jcsdl-icon.target.target-twitter.selected {
        background-position: -220px -110px; }
    .jcsdl-container .jcsdl-icon.target.target-digg {
      background-position: -330px 0; }
      .jcsdl-container .jcsdl-icon.target.target-digg.selected {
        background-position: -330px -110px; }
    .jcsdl-container .jcsdl-icon.target.target-myspace {
      background-position: -440px 0; }
      .jcsdl-container .jcsdl-icon.target.target-myspace.selected {
        background-position: -440px -110px; }
    .jcsdl-container .jcsdl-icon.target.target-klout {
      background-position: -550px 0; }
      .jcsdl-container .jcsdl-icon.target.target-klout.selected {
        background-position: -550px -110px; }
  .jcsdl-container .jcsdl-icon.field {
    background: url("img/icons-sprite-fields.png?6") no-repeat 0 0; }
    .jcsdl-container .jcsdl-icon.field.icon-geo {
      background-position: 0 0; }
      .jcsdl-container .jcsdl-icon.field.icon-geo.selected {
        background-position: -80px 0; }
    .jcsdl-container .jcsdl-icon.field.icon-link {
      background-position: -160px 0; }
      .jcsdl-container .jcsdl-icon.field.icon-link.selected {
        background-position: -240px 0; }
    .jcsdl-container .jcsdl-icon.field.icon-sample {
      background-position: -320px 0; }
      .jcsdl-container .jcsdl-icon.field.icon-sample.selected {
        background-position: -400px 0; }
    .jcsdl-container .jcsdl-icon.field.icon-title {
      background-position: -480px 0; }
      .jcsdl-container .jcsdl-icon.field.icon-title.selected {
        background-position: -560px 0; }
    .jcsdl-container .jcsdl-icon.field.icon-content {
      background-position: -640px 0; }
      .jcsdl-container .jcsdl-icon.field.icon-content.selected {
        background-position: -720px 0; }
    .jcsdl-container .jcsdl-icon.field.icon-description {
      background-position: 0 -80px; }
      .jcsdl-container .jcsdl-icon.field.icon-description.selected {
        background-position: -80px -80px; }
    .jcsdl-container .jcsdl-icon.field.icon-source {
      background-position: -160px -80px; }
      .jcsdl-container .jcsdl-icon.field.icon-source.selected {
        background-position: -240px -80px; }
    .jcsdl-container .jcsdl-icon.field.icon-type {
      background-position: -320px -80px; }
      .jcsdl-container .jcsdl-icon.field.icon-type.selected {
        background-position: -400px -80px; }
    .jcsdl-container .jcsdl-icon.field.icon-avatar {
      background-position: -480px -80px; }
      .jcsdl-container .jcsdl-icon.field.icon-avatar.selected {
        background-position: -560px -80px; }
    .jcsdl-container .jcsdl-icon.field.icon-comment {
      background-position: -640px -80px; }
      .jcsdl-container .jcsdl-icon.field.icon-comment.selected {
        background-position: -720px -80px; }
    .jcsdl-container .jcsdl-icon.field.icon-comments-count {
      background-position: 0 -160px; }
      .jcsdl-container .jcsdl-icon.field.icon-comments-count.selected {
        background-position: -80px -160px; }
    .jcsdl-container .jcsdl-icon.field.icon-author-username, .jcsdl-container .jcsdl-icon.field.icon-username {
      background-position: -160px -160px; }
      .jcsdl-container .jcsdl-icon.field.icon-author-username.selected, .jcsdl-container .jcsdl-icon.field.icon-username.selected {
        background-position: -240px -160px; }
    .jcsdl-container .jcsdl-icon.field.icon-username {
      background-position: -160px -160px; }
      .jcsdl-container .jcsdl-icon.field.icon-username.selected {
        background-position: -240px -160px; }
    .jcsdl-container .jcsdl-icon.field.icon-user {
      background-position: -320px -160px; }
      .jcsdl-container .jcsdl-icon.field.icon-user.selected {
        background-position: -400px -160px; }
    .jcsdl-container .jcsdl-icon.field.icon-fullname {
      background-position: -480px -160px; }
      .jcsdl-container .jcsdl-icon.field.icon-fullname.selected {
        background-position: -560px -160px; }
    .jcsdl-container .jcsdl-icon.field.icon-registered {
      background-position: -640px -160px; }
      .jcsdl-container .jcsdl-icon.field.icon-registered.selected {
        background-position: -720px -160px; }
    .jcsdl-container .jcsdl-icon.field.icon-user-description {
      background-position: 0 -240px; }
      .jcsdl-container .jcsdl-icon.field.icon-user-description.selected {
        background-position: -80px -240px; }
    .jcsdl-container .jcsdl-icon.field.icon-followers_count {
      background-position: -160px -240px; }
      .jcsdl-container .jcsdl-icon.field.icon-followers_count.selected {
        background-position: -240px -240px; }
    .jcsdl-container .jcsdl-icon.field.icon-follower_ratio {
      background-position: -320px -240px; }
      .jcsdl-container .jcsdl-icon.field.icon-follower_ratio.selected {
        background-position: -400px -240px; }
    .jcsdl-container .jcsdl-icon.field.icon-friends_count {
      background-position: -480px -240px; }
      .jcsdl-container .jcsdl-icon.field.icon-friends_count.selected {
        background-position: -560px -240px; }
    .jcsdl-container .jcsdl-icon.field.icon-location {
      background-position: -640px -240px; }
      .jcsdl-container .jcsdl-icon.field.icon-location.selected {
        background-position: -720px -240px; }
    .jcsdl-container .jcsdl-icon.field.icon-screen_name {
      background-position: 0 -320px; }
      .jcsdl-container .jcsdl-icon.field.icon-screen_name.selected {
        background-position: -80px -320px; }
    .jcsdl-container .jcsdl-icon.field.icon-domains {
      background-position: -160px -320px; }
      .jcsdl-container .jcsdl-icon.field.icon-domains.selected {
        background-position: -240px -320px; }
    .jcsdl-container .jcsdl-icon.field.icon-topic {
      background-position: -320px -320px; }
      .jcsdl-container .jcsdl-icon.field.icon-topic.selected {
        background-position: -400px -320px; }
    .jcsdl-container .jcsdl-icon.field.icon-language {
      background-position: -480px -320px; }
      .jcsdl-container .jcsdl-icon.field.icon-language.selected {
        background-position: -560px -320px; }
    .jcsdl-container .jcsdl-icon.field.icon-statuses_count {
      background-position: -640px -320px; }
      .jcsdl-container .jcsdl-icon.field.icon-statuses_count.selected {
        background-position: -720px -320px; }
    .jcsdl-container .jcsdl-icon.field.icon-time_zone {
      background-position: 0 -400px; }
      .jcsdl-container .jcsdl-icon.field.icon-time_zone.selected {
        background-position: -80px -400px; }
    .jcsdl-container .jcsdl-icon.field.icon-placename {
      background-position: -160px -400px; }
      .jcsdl-container .jcsdl-icon.field.icon-placename.selected {
        background-position: -240px -400px; }
    .jcsdl-container .jcsdl-icon.field.icon-id {
      background-position: -320px -400px; }
      .jcsdl-container .jcsdl-icon.field.icon-id.selected {
        background-position: -400px -400px; }
    .jcsdl-container .jcsdl-icon.field.icon-amplification {
      background-position: -480px -400px; }
      .jcsdl-container .jcsdl-icon.field.icon-amplification.selected {
        background-position: -560px -400px; }
    .jcsdl-container .jcsdl-icon.field.icon-listed_count {
      background-position: -640px -400px; }
      .jcsdl-container .jcsdl-icon.field.icon-listed_count.selected {
        background-position: -720px -400px; }
    .jcsdl-container .jcsdl-icon.field.icon-network {
      background-position: 0 -480px; }
      .jcsdl-container .jcsdl-icon.field.icon-network.selected {
        background-position: -80px -480px; }
    .jcsdl-container .jcsdl-icon.field.icon-score {
      background-position: -160px -480px; }
      .jcsdl-container .jcsdl-icon.field.icon-score.selected {
        background-position: -240px -480px; }
    .jcsdl-container .jcsdl-icon.field.icon-truereach {
      background-position: -320px -480px; }
      .jcsdl-container .jcsdl-icon.field.icon-truereach.selected {
        background-position: -400px -480px; }
    .jcsdl-container .jcsdl-icon.field.icon-trends {
      background-position: -480px -480px; }
      .jcsdl-container .jcsdl-icon.field.icon-trends.selected {
        background-position: -560px -480px; }
    .jcsdl-container .jcsdl-icon.field.icon-country_code {
      background-position: -640px -480px; }
      .jcsdl-container .jcsdl-icon.field.icon-country_code.selected {
        background-position: -720px -480px; }
    .jcsdl-container .jcsdl-icon.field.icon-likes-ids {
      background-position: 0 -560px; }
      .jcsdl-container .jcsdl-icon.field.icon-likes-ids.selected {
        background-position: -80px -560px; }
    .jcsdl-container .jcsdl-icon.field.icon-likes-names {
      background-position: -160px -560px; }
      .jcsdl-container .jcsdl-icon.field.icon-likes-names.selected {
        background-position: -240px -560px; }
    .jcsdl-container .jcsdl-icon.field.icon-to-ids {
      background-position: -320px -560px; }
      .jcsdl-container .jcsdl-icon.field.icon-to-ids.selected {
        background-position: -400px -560px; }
    .jcsdl-container .jcsdl-icon.field.icon-to-names {
      background-position: -480px -560px; }
      .jcsdl-container .jcsdl-icon.field.icon-to-names.selected {
        background-position: -560px -560px; }
    .jcsdl-container .jcsdl-icon.field.icon-age {
      background-position: -640px -560px; }
      .jcsdl-container .jcsdl-icon.field.icon-age.selected {
        background-position: -720px -560px; }
    .jcsdl-container .jcsdl-icon.field.icon-category {
      background-position: 0 -640px; }
      .jcsdl-container .jcsdl-icon.field.icon-category.selected {
        background-position: -80px -640px; }
    .jcsdl-container .jcsdl-icon.field.icon-url {
      background-position: -160px -640px; }
      .jcsdl-container .jcsdl-icon.field.icon-url.selected {
        background-position: -240px -640px; }
    .jcsdl-container .jcsdl-icon.field.icon-retweet-count {
      background-position: -320px -640px; }
      .jcsdl-container .jcsdl-icon.field.icon-retweet-count.selected {
        background-position: -400px -640px; }
    .jcsdl-container .jcsdl-icon.field.icon-gender {
      background-position: -480px -640px; }
      .jcsdl-container .jcsdl-icon.field.icon-gender.selected {
        background-position: -560px -640px; }
    .jcsdl-container .jcsdl-icon.field.icon-tweet {
      background-position: -640px -720px; }
      .jcsdl-container .jcsdl-icon.field.icon-tweet.selected {
        background-position: -720px -720px; }
    .jcsdl-container .jcsdl-icon.field.icon-place {
      background-position: -160px -800px; }
      .jcsdl-container .jcsdl-icon.field.icon-place.selected {
        background-position: -240px -800px; }
    .jcsdl-container .jcsdl-icon.field.icon-retweet {
      background-position: -320px -800px; }
      .jcsdl-container .jcsdl-icon.field.icon-retweet.selected {
        background-position: -400px -800px; }
    .jcsdl-container .jcsdl-icon.field.icon-retweeted {
      background-position: -480px -800px; }
      .jcsdl-container .jcsdl-icon.field.icon-retweeted.selected {
        background-position: -560px -800px; }
    .jcsdl-container .jcsdl-icon.field.icon-mentions {
      background-position: -640px -800px; }
      .jcsdl-container .jcsdl-icon.field.icon-mentions.selected {
        background-position: -720px -800px; }
    .jcsdl-container .jcsdl-icon.field.icon-inreply {
      background-position: 0 -880px; }
      .jcsdl-container .jcsdl-icon.field.icon-inreply.selected {
        background-position: -80px -880px; }
    .jcsdl-container .jcsdl-icon.field.icon-count {
      background-position: -160px -880px; }
      .jcsdl-container .jcsdl-icon.field.icon-count.selected {
        background-position: -240px -880px; }
    .jcsdl-container .jcsdl-icon.field.icon-ratio {
      background-position: -320px -880px; }
      .jcsdl-container .jcsdl-icon.field.icon-ratio.selected {
        background-position: -400px -880px; }
    .jcsdl-container .jcsdl-icon.field.icon-user-id {
      background-position: -480px -880px; }
      .jcsdl-container .jcsdl-icon.field.icon-user-id.selected {
        background-position: -560px -880px; }
    .jcsdl-container .jcsdl-icon.field.icon-placeattrs {
      background-position: -640px -880px; }
      .jcsdl-container .jcsdl-icon.field.icon-placeattrs.selected {
        background-position: -720px -880px; }
    .jcsdl-container .jcsdl-icon.field.icon-country {
      background-position: 0 -960px; }
      .jcsdl-container .jcsdl-icon.field.icon-country.selected {
        background-position: -80px -960px; }
    .jcsdl-container .jcsdl-icon.field.icon-elapsed {
      background-position: -640px -960px; }
      .jcsdl-container .jcsdl-icon.field.icon-elapsed.selected {
        background-position: -720px -960px; }
    .jcsdl-container .jcsdl-icon.field.icon-buries {
      background-position: 0 -1040px; }
      .jcsdl-container .jcsdl-icon.field.icon-buries.selected {
        background-position: -80px -1040px; }
    .jcsdl-container .jcsdl-icon.field.icon-diggs {
      background-position: -160px -1040px; }
      .jcsdl-container .jcsdl-icon.field.icon-diggs.selected {
        background-position: -240px -1040px; }
    .jcsdl-container .jcsdl-icon.field.icon-status {
      background-position: -320px -1040px; }
      .jcsdl-container .jcsdl-icon.field.icon-status.selected {
        background-position: -400px -1040px; }
    .jcsdl-container .jcsdl-icon.field.icon-profileviews {
      background-position: 0 -1120px; }
      .jcsdl-container .jcsdl-icon.field.icon-profileviews.selected {
        background-position: -80px -1120px; }
    .jcsdl-container .jcsdl-icon.field.icon-photos {
      background-position: -160px -1120px; }
      .jcsdl-container .jcsdl-icon.field.icon-photos.selected {
        background-position: -240px -1120px; }
    .jcsdl-container .jcsdl-icon.field.icon-verb {
      background-position: -480px -1120px; }
      .jcsdl-container .jcsdl-icon.field.icon-verb.selected {
        background-position: -560px -1120px; }
    .jcsdl-container .jcsdl-icon.field.icon-application {
      background-position: -640px -1120px; }
      .jcsdl-container .jcsdl-icon.field.icon-application.selected {
        background-position: -720px -1120px; }
    .jcsdl-container .jcsdl-icon.field.icon-caption {
      background-position: 0 -1200px; }
      .jcsdl-container .jcsdl-icon.field.icon-caption.selected {
        background-position: -80px -1200px; }
    .jcsdl-container .jcsdl-icon.field.icon-likes-count {
      background-position: -160px -1200px; }
      .jcsdl-container .jcsdl-icon.field.icon-likes-count.selected {
        background-position: -240px -1200px; }
    .jcsdl-container .jcsdl-icon.field.icon-og-by {
      background-position: -320px -1200px; }
      .jcsdl-container .jcsdl-icon.field.icon-og-by.selected {
        background-position: -400px -1200px; }
    .jcsdl-container .jcsdl-icon.field.icon-opengraph {
      background-position: -480px -1200px; }
      .jcsdl-container .jcsdl-icon.field.icon-opengraph.selected {
        background-position: -560px -1200px; }
    .jcsdl-container .jcsdl-icon.field.icon-message {
      background-position: -640px -1200px; }
      .jcsdl-container .jcsdl-icon.field.icon-message.selected {
        background-position: -720px -1200px; }
  .jcsdl-container .jcsdl-icon.input {
    background: url("img/icons-sprite-other.png?2") no-repeat 0 0; }
    .jcsdl-container .jcsdl-icon.input.icon-geo_radius {
      background-position: 0 -400px; }
      .jcsdl-container .jcsdl-icon.input.icon-geo_radius.selected {
        background-position: -80px -400px; }
    .jcsdl-container .jcsdl-icon.input.icon-geo_polygon {
      background-position: 0 -480px; }
      .jcsdl-container .jcsdl-icon.input.icon-geo_polygon.selected {
        background-position: -80px -480px; }
    .jcsdl-container .jcsdl-icon.input.icon-geo_box {
      background-position: 0 -560px; }
      .jcsdl-container .jcsdl-icon.input.icon-geo_box.selected {
        background-position: -80px -560px; }
    .jcsdl-container .jcsdl-icon.input.icon-geo_text {
      background-position: 0 80px; }
      .jcsdl-container .jcsdl-icon.input.icon-geo_text.selected {
        background-position: -80px 80px; }
  .jcsdl-container .jcsdl-icon.operator {
    width: 38px;
    height: 38px;
    background: url("img/icons-sprite-operators.png?2") no-repeat 0 0;
    border: 1px solid #376491;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
    filter: alpha(opacity=4);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4; }
    .jcsdl-container .jcsdl-icon.operator.icon-contains {
      background-position: 0 0; }
    .jcsdl-container .jcsdl-icon.operator.icon-substr {
      background-position: -38px 0; }
    .jcsdl-container .jcsdl-icon.operator.icon-contains_any {
      background-position: -76px 0; }
    .jcsdl-container .jcsdl-icon.operator.icon-contains_near {
      background-position: -114px 0; }
    .jcsdl-container .jcsdl-icon.operator.icon-exists {
      background-position: 0 -38px; }
    .jcsdl-container .jcsdl-icon.operator.icon-different {
      background-position: -38px -38px; }
    .jcsdl-container .jcsdl-icon.operator.icon-equals {
      background-position: -76px -38px; }
    .jcsdl-container .jcsdl-icon.operator.icon-in {
      background-position: -114px -38px; }
    .jcsdl-container .jcsdl-icon.operator.icon-greaterThan {
      background-position: 0 -76px; }
    .jcsdl-container .jcsdl-icon.operator.icon-lowerThan {
      background-position: -38px -76px; }
    .jcsdl-container .jcsdl-icon.operator.icon-regex_partial {
      background-position: -76px -76px; }
    .jcsdl-container .jcsdl-icon.operator.icon-regex_exact {
      background-position: -114px -76px; }
    .jcsdl-container .jcsdl-icon.operator.icon-cs {
      background-position: 0 -114px; }
    .jcsdl-container .jcsdl-icon.operator:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
      filter: alpha(opacity=7);
      -moz-opacity: 0.7;
      -khtml-opacity: 0.7;
      opacity: 0.7; }
    .jcsdl-container .jcsdl-icon.operator.selected {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
      filter: alpha(opacity=10);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1; }

.tipsy {
  line-height: 1.4em; }

.tipsy-arrow {
  background-image: url("img/jquery.tipsy.small.gif"); }
