/* the actual editor */
.jcsdl-container {
  overflow: hidden;
  position: relative;
  background: #fefefe;
  text-align: center;
  /* single filter editor */ }
  .jcsdl-container ul.filters-logic {
    list-style-type: none;
    overflow: hidden; }
    .jcsdl-container ul.filters-logic li {
      float: left;
      margin-right: 10px; }
  .jcsdl-container .filter {
    overflow: hidden;
    position: relative;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #dddddd; }
    .jcsdl-container .filter .filter-description {
      overflow: hidden; }
      .jcsdl-container .filter .filter-description .info {
        float: left;
        margin: 0 10px; }
        .jcsdl-container .filter .filter-description .info.j-target {
          font-weight: bold; }
        .jcsdl-container .filter .filter-description .info.j-operator {
          font-weight: bold; }
    .jcsdl-container .filter .options {
      position: absolute;
      top: 5px;
      right: 5px; }
      .jcsdl-container .filter .options a {
        margin: 0 5px; }
  .jcsdl-container .filter-editor {
    border: 1px solid #dddddd; }
    .jcsdl-container .filter-editor .filter-step {
      margin: 5px;
      padding: 5px;
      overflow: hidden;
      text-align: center; }
      .jcsdl-container .filter-editor .filter-step.filter-step-name-field {
        border-top: 1px solid #dddddd; }
      .jcsdl-container .filter-editor .filter-step.filter-step-name-value {
        border-top: 1px solid #dddddd; }
    .jcsdl-container .filter-editor .filter-value-input-operators {
      overflow: hidden; }
      .jcsdl-container .filter-editor .filter-value-input-operators .operator-select {
        float: left;
        margin: 5px 20px; }
        .jcsdl-container .filter-editor .filter-value-input-operators .operator-select input {
          margin-right: 8px; }
    .jcsdl-container .filter-editor .filter-value-input-field {
      margin-top: 20px; }
      .jcsdl-container .filter-editor .filter-value-input-field .input-text input, .jcsdl-container .filter-editor .filter-value-input-field .input-number input {
        margin: 0 auto;
        padding: 5px 10px;
        width: 600px;
        font-size: 1.3em;
        line-height: 1.5em;
        border: 1px solid #dddddd; }
      .jcsdl-container .filter-editor .filter-value-input-field .input-number input {
        width: 100px; }
      .jcsdl-container .filter-editor .filter-value-input-field .input-select {
        overflow: hidden; }
        .jcsdl-container .filter-editor .filter-value-input-field .input-select .input-select-option {
          float: left;
          margin: 0 5px; }
