$color : #376491;
$colorLight : #939393;
$borderColor : #dcdcdc;
$borderColorInput : #c8d7de;
$elementsSprite : 'img/elements.png';

@mixin rounded($radius: 5px) {
	-webkit-border-radius: $radius;
	-khtml-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
}

@mixin opacity($opacity: 0.5) {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 10)";
	filter: alpha(opacity=$opacity * 10);
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	opacity: $opacity;
}

/* the actual editor */
.jcsdl-container {
	overflow: hidden; position: relative;
	font-size: 13px; font-family: "Helvetica Neue", "Helvetica", sans-serif; color: $colorLight;

	/* building blocks */
	a {color: $color;
		&:hover {color: lighten($color, 5%);}
	}

	.jcsdl-label {font-size: 1em; color: $colorLight; font-weight: normal;}
	.jcsdl-bordered {padding: 8px; border: 1px solid $borderColorInput; @include rounded(3px);}

	.jcsdl-button {
		float: left; margin-right: 8px;
		overflow: hidden; text-indent: -9999px;
		display: block; height: 34px; width: 140px;
		background: url($elementsSprite) no-repeat 0 -55px;

		&.jcsdl-editor-save {}
		&.jcsdl-editor-cancel {width: 56px; background-position: 0 -89px;}

		&:hover {@include opacity(0.9);}
	}

	.jcsdl-header {
		overflow: hidden;
		padding: 15px;
		border-bottom: 1px dotted $borderColor;

		h3 {
			float: left; margin: 0;
			line-height: 1em;
			font-size: 1.8em; color: $color; font-weight: normal;
		}
	}

	.jcsdl-footer {
		overflow: hidden;
		padding: 15px;
		border-top: 1px dotted $borderColor;

		.jcsdl-actions {float: left; overflow: hidden;}
	}

	/*
	 * MAIN VIEW
	 */
	.jcsdl-mainview {
		.jcsdl-header, .jcsdl-header h3 {line-height: 38px;}
	}

	/* main view actions (add new filter, add existing stream) */
	.jcsdl-mainview-actions {
		overflow: hidden;
		float: right; margin-top: 2px;
	}

	.jcsdl-mainview-action {
		float: left; margin-right: 8px;
		display: block; overflow: hidden;
		line-height: 14px;
		color: $color;

		.jcsdl-picto {
			float: left; margin-right: 8px;
			display: block; width: 14px; height: 14px;
			background: url($elementsSprite) no-repeat -140px -68px;
		}

		&.jcsdl-add-filter {margin-right: 0;}
	}

	/* main view mode (expanded / collapsed) */
	.jcsdl-mainview-mode {
		overflow: hidden;
		float: right; margin-left: 15px;
		padding-left: 15px;
		border-left: 1px dotted $borderColor;
	}

	.jcsdl-mainview-mode-options {
		overflow: hidden;
		float: right; margin-left: 8px; margin-top: 2px;
		height: 14px;
	}

	.jcsdl-mainview-mode-option {
		float: left; margin-right: 8px;
		display: block; width: 13px; height: 13px;
		background: url($elementsSprite) no-repeat -140px -55px;
		@include opacity(0.3);

		&.jcsdl-expanded {background-position: -140px -55px;}
		&.jcsdl-collapsed {background-position: -156px -55px; margin-right: 0;}

		&:hover {@include opacity(0.5);}
		&.active {@include opacity(1);}
	}

	/* filters logic (AND/OR) */
	.jcsdl-filters-logic {
		margin: 15px;
		text-align: left;
	}

	.jcsdl-filters-logic-option {
		margin-right: 8px;
		cursor: pointer;

		input {margin-right: 5px;}

		&.jcsdl-or {margin-right: 0;}
	}

	/* building blocks */
	/*
	.icon {
		display: block; width: 80px; height: 80px;
		float: left; margin: 0; margin-right: 20px;
		overflow: hidden;
		text-align: center; line-height: 80px;
		color: black;

		&.target {width: 110px; height: 110px; line-height: 110px; margin-right: 35px;}

		&:hover {background: #f5f5f5;}
		&.selected {background: #f5f5f5;}
	}
	*/

	/* filter row */
	/*
	.filter {
		overflow: hidden; position: relative; margin: 10px 0;
		padding: 5px;
		border: 1px solid $borderColor;

		.filter-description {
			overflow: hidden;

			.info {
				float: left; margin: 0 10px;

				&.target {font-weight: bold;}
				&.operator {font-weight: bold;}
			}			
		}

		.options {
			position: absolute; top: 5px; right: 5px;

			a {margin: 0 5px;}
		}
	}

	.filters-list {
		&.expanded {
			.filter {
				.filter-target {margin: 0;}
				.filter-field {margin: 15px 10px;}
				.filter-operator {
					line-height: 110px;

					&.operator-contains {display: none;}
					&.operator-substr {display: none;}
					&.operator-contains_any {display: none;}
					&.operator-in {display: none;}
				}
				.filter-value {
					font-size: 16px; color: #666;
					line-height: 110px;
				}
			}
		}
		&.compact {
			.filter {
				.filter-target, .filter-field, .filter-operator, .filter-value {margin: 0; background: none; width: auto; height: auto; display: inline; line-height: 1em; float: none;}
				.filter-operator {
					font-weight: bold;

					&.operator-contains {display: none;}
					&.operator-substr {display: none;}
					&.operator-contains_any {display: none;}
					&.operator-in {display: none;}
				}
			}
		}
	}
	*/

	/* single filter editor */
	/*
	.filter-editor {
		.filter-target-wrap {
			height: 140px; padding-top: 30px;

			.carousel-scroll {margin-top: 40px;}
		}
		&.has-fields .filter-target-wrap {
			background: transparent url('img/select.png') no-repeat center 8px;
		}

		.filter-target-field-wrap {
			padding-top: 5px; padding-bottom: 40px;
			background: transparent url('img/select.png') no-repeat center -165px;

			.carousel-scroll {margin-top: 25px;}
		}

		.filter-step {
			overflow: hidden; text-align: center;
			background: transparent url('img/step_background.png') no-repeat bottom center;

			&.filter-step-field.last .filter-target-field-wrap {
				margin-bottom: 10px;
				background-position: center -255px;
			}

			&.filter-step-value {
				padding-bottom: 30px;
			}
		}


		.filter-value-input-operators {
			overflow: hidden;

			.operator-select {
				float: left; margin: 5px 20px;

				input {margin-right: 8px;}
			}
		}

		.filter-value-input-field {
			margin-top: 20px;

			.input-text input, .input-number input {
				display: block; margin: 0 auto;
				padding: 5px 10px; width: 90%;
				font-size: 1.3em; line-height: 1.5em;
				border: 1px solid $borderColor;
			}
			.input-number input {width: 100px;}

			.input-select {
				overflow: hidden;

				.input-select-option {float: left; margin: 0 5px;}
			}
		}

		.carousel-wrap {
			overflow: hidden; position: relative;
			margin: 0 auto;
		}

		.carousel-scroll {
			display: block; width: 30px; height: 30px; margin-right: 5px;
			float: left;
			line-height: 30px; text-align: center;
			background: transparent url('img/scroll.png') no-repeat top left;

			&.right {float: right; margin-right: 0; margin-left: 5px; background-position: bottom left;}
			&:hover {opacity: 0.9;}
			&.inactive {opacity: 0.5;}
		}

	}
	*/

}