$borderColor : #ddd;

/* the actual editor */
.jcsdl-container {
	overflow: hidden; position: relative;
	background: #fefefe;
	text-align: center;

	ul.filters-logic {
		list-style-type: none;
		overflow: hidden;

		li {float: left; margin-right: 10px;}
	}

	.filter {
		overflow: hidden; position: relative; margin: 10px 0;
		padding: 5px;
		border: 1px solid $borderColor;

		.filter-description {
			overflow: hidden;

			.info {
				float: left; margin: 0 10px;

				&.j-target {font-weight: bold;}
				&.j-operator {font-weight: bold;}
			}			
		}

		.options {
			position: absolute; top: 5px; right: 5px;

			a {margin: 0 5px;}
		}
	}

	/* single filter editor */
	.filter-editor {
		border: 1px solid $borderColor;

		.filter-step {
			margin: 5px; padding: 5px;
			overflow: hidden; text-align: center;

			&.filter-step-name-field {border-top: 1px solid $borderColor;}
			&.filter-step-name-value {border-top: 1px solid $borderColor;}
		}


		.filter-value-input-operators {
			overflow: hidden;

			.operator-select {
				float: left; margin: 5px 20px;

				input {margin-right: 8px;}
			}
		}

		.filter-value-input-field {
			margin-top: 20px;

			.input-text input, .input-number input {
				margin: 0 auto;
				padding: 5px 10px; width: 600px;
				font-size: 1.3em; line-height: 1.5em;
				border: 1px solid $borderColor;
			}
			.input-number input {width: 100px;}

			.input-select {
				overflow: hidden;

				.input-select-option {float: left; margin: 0 5px;}
			}
		}
	}

}