body {
	background: #fff;
	font-size: 13px; line-height: 1.5em; color: #222;
	font-family: "Helvetica Neue", Helvetica, sans-serif; 
	text-align: center;
}

/* general stuff */
#wrap {width: 700px; margin: 20px auto;}
h1 {text-align: center;}
h2 {margin: 0; margin-bottom: 10px; text-align: center;}
p {text-align: center; line-height: 1.5em; color: #444;}

#jcsdl-input, #jcsdl-output {
	display: block; width: 600px; height: 150px; padding: 10px; margin: 10px auto;
	font-size: 1.1em; line-height: 1.5em;
	border: 1px solid #aaa;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

/*
 * JCSDL GUI STYLING
 * the part below is important
 */
#jcsdl-gui {
	width: 700px; margin: 50px auto;
	background: #fefefe;
	overflow: hidden; position: relative;
}

$borderColor : #ddd;

/* the actual editor */
.jcsdl-editor {

	.filter {
		overflow: hidden; position: relative; margin: 10px 0;
		padding: 5px;
		border: 1px solid $borderColor;

		.filter-description {
			overflow: hidden;

			.info {
				float: left; margin: 0 10px;

				&.j-target {font-weight: bold;}
				&.j-operator {font-weight: bold;}
			}			
		}

		.options {
			position: absolute; top: 5px; right: 5px;

			a {margin: 0 5px;}
		}
	}

}

/*
#filter {
	border: 1px solid #ccc;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

#jcsdl-editor .filter-step {
	overflow: hidden;
	text-align: center;
	margin: 10px;
	padding: 10px;
}

#jcsdl-editor .filter-step.filter-step-name-field {border-top: 1px solid #ccc;}
#jcsdl-editor .filter-step.filter-step-name-value {border-top: 1px solid #ccc;}

#jcsdl-editor #filter-value-input {}
#jcsdl-editor #filter-value-input-operators {overflow: hidden;}
#jcsdl-editor #filter-value-input-operators .operator-select {float: left; margin: 5px 20px;}
#jcsdl-editor #filter-value-input-operators .operator-select input {margin-right: 8px;}
#jcsdl-editor #filter-value-input-field {margin-top: 20px;}
#jcsdl-editor #filter-value-input-field .input-text input {
	border: 1px solid #ccc;
	font-size: 1.3em;
	line-height: 1.5em;
	padding: 5px 10px;
	width: 600px;
	margin: 0 auto;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
*/